
.chat_icon{
	position: fixed;
	right: 30px;
	bottom: 60px;
	width: 60px;
	z-index: 1000;
	cursor: pointer;
}
.chatbot_box{
	position: fixed;
	right: 30px;
	bottom: 80px;
	background:linear-gradient( to bottom,#bcbcbc 6% #e7e7e7 20%) ;
	width:400px;
	height: 70vh;
	padding: 30px;
	font-size: 16px;
	box-shadow: 0 0 11px rgba(0,0,0,0.9);
	z-index: 1000000;
	transition: all 0.3s ease-out;
	border-radius: 30px 30px;
	overflow-y: scroll;
	/* scroll-behavior: smooth; */
	/* scroll-margin-block: smooth; */
}
.chatbot_box::-webkit-scrollbar{
	display: none;
}

#chatlist{
	height: calc(70vh -120px);
	overflow-x: auto;
	position: relative;
	-ms-overflow-style:none ;
	/* scroll-behavior: auto; */
	


}


#chatlist ul{
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
	bottom: 0;
	left: 0;
	max-height: 100%;

}



#chatlist ul li.admin_message{

		scroll-behavior: auto;
		list-style: none;
		background-color: white;
		color: red;
		position: relative;
		padding: 10px 20px;
		border-radius: 0 20px 20px 20px;
		/* margin-top: 50px; */
		margin: 89px 30% 15px 5px;
		text-transform: capitalize;
		box-shadow: 0 0 4px rgb(0 0 0 / 30%);
	
}

#chatlist ul li.client_message{
background-color: #59ba00;

color: #fff;
padding: 10px 20px;
border-radius: 20px 0 20px 20px;
margin: 15px 5px 15px 30%;
text-transform: capitalize;
    float: right;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.message-box-wrap{
position: relative;
margin-top: 150px;
}
.message-box input[type="text"],.message-box select{
	height: 40px;
	padding: 10px;
	line-height: 20px;
	width: 18rem;
	border-radius: 10px;
	border: 1px solid #dcb3b3;


}
.message-box-wrap button{
	width: 100px;
	color: #fff;
	height:40px;
	padding: 10px;
	line-height: 20px;
	border-radius: 10px;
	border: 1px solid #bcb3b3;
}
.message-box-wrap #send{
height: 40px;
width:50px;
position: absolute;
right:-10px;
top: 0;
color: #fff;
border: radius 505;
background-color:#dcb3b3;
border:0 !important;
outline:0 !important;

}
.admin-client-message-wrap,#submit_form{
	opacity: 0;
	width:0;
	height:0;
	overflow:hidden;
}
.servicediv{
	display: inline;
}
.mybtn{
		margin-top: 10px;
	  background-color: #c2fbd7;
	  border-radius: 100px;
	  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
	  color: green;
	  cursor: pointer;
	  display: inline-block;
	  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
	  padding: 7px 15px;
	  text-align: center;
	  text-decoration: none;
	  transition: all 250ms;
	  border: 0;
	  font-size: 14px;
	  user-select: none;
	  -webkit-user-select: none;
	  touch-action: manipulation;
	}
	
	.mybtn:hover {
	  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
	  transform: scale(1.05) rotate(-1deg);
	}
